<% include chatit_header.ejs %>
<meta id="friendname" name="friendname" content=<%-"'"+friendname+"'"%>>
<meta id="friendsid" name="friendid" content=<%-"'"+friendid+"'"%>>
<div class="container">
    <div class="row" style="margin-top:15px;">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#34495E;border-bottom: 0px solid transparent;">
                    <span class="glyphicon glyphicon-list-alt" style="color:#FEFEFE;"></span>
                    <b style="color:#FEFEFE">消息</b>
                </div>
                <div class="panel-body" style="padding:0px">
                    <div class="row">
                        <div class="col-md-12">
                            <ul id="friendbox" class="demo1"></ul>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <button class="btn btn-primary btn-wide">清空</button>
                </div>
            </div>
        </div>
        <style>
            .panel-body {
                min-height: 600px;
                max-height: 600px;
                overflow: scroll;
            }
            .panel-footer {
                padding: 1px 12px;
                background-color: #34495E;
            }
            .form-group {
                margin-bottom: 10px;
                margin-top: 10px;
            }
            .reply-content {
              border: 1px solid rgba(255,255,255,.15);
            }
            .btn-wide {
                padding-left: 30px;
                padding-right: 30px;
                margin-bottom: 10px;
                margin-top: 10px;
            }
        </style>

        <!-- 聊天区 -->
        <div class="col-md-9">
            <!-- 聊天内容 -->
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#34495E">
                    <span class="glyphicon glyphicon-earphone" style="color:#FEFEFE"></span>
                    <b id="messageboxname" style="color:#FEFEFE"></b>
                </div>
                <div id="messagebox" class="panel-body chat-body">
                    <ul id="messages" class="content-reply-box mg10"></ul>
                </div>
                <div class="panel-footer">
                    <form action="/chat" autocomplete=off>
                        <div class="col-bg-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <input id="m" type="text" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" type="submit">发送</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="javascripts/socket.io.js"></script>
<script src="javascripts/chatpage.js"></script>
<!-- /container -->
