<% include chatit_header.ejs %>
    <div class="container">
        <div class="row" style="margin-top:15px;">
            <!-- 在线列表 -->
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-list"></span> &nbsp;我的好友
                    </div>
                    <div class="panel-body list-body">
                      <div class="list-group">
                        <a href="#" class="list-group-item">
                          <div class="row">
                          <div class="col-md-4">
                          <img src="image/a.jpg" alt="140*140" class="img-rounded">
                          <div class="col-md-8 col-md-offset=4">
                          <h4 class="list-group-item-heading">李文勇</h4>
                          <p class="list-group-item-text">好马不吃回头草</p>
                          </div>
                          </div>
                          </div>
                        </a>
                        <a href="#" class="list-group-item">
                          <h4 class="list-group-item-heading">李文勇</h4>
                          <p class="list-group-item-text">好马不吃回头草</p>
                        </a>
                        <a href="#" class="list-group-item">
                          <h4 class="list-group-item-heading">李文勇</h4>
                          <p class="list-group-item-text">好马不吃回头草</p>
                        </a>
                      </div>
                    </div>
                    <div class="panel-footer" id="list-count">当前在线：0人</div>
                </div>
            </div>
      </div>
    </div>
    <!-- /container -->
