<% include chatit_header.ejs %>
    <div class="container">
        <div class="row" style="margin-top:15px;">
            <!-- 在线列表 -->
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-list"></span> &nbsp;在线名单
                    </div>
                    <div class="panel-body list-body">
                        <table class="table table-hover list-table">
                          <tr>
                          <td>test</td>
                          </tr>
                        </table>
                    </div>
                    <div class="panel-footer" id="list-count">当前在线：0人</div>
                </div>
            </div>
        </div>
    </div>
    <!-- /container -->
