<div class="modal fade" id=<%- "'friendinfo'"%> tabindex="-1" role="dialog" aria-labelledby=
    <%-"'ModalLabel'"%> >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">好友信息</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="image/c.jpg" alt="140*140" class="img-rounded">
                        </div>
                        <div class="col-md-8">
                            <h5>李文勇</h5>
                            <b>好马不吃回头草</b>
                            <br>
                            <b>21岁</b>
                            <br>
                            <a>jwer@gmail.com</a>
                            <br>
                            <br>
                            <select data-toggle="select" class="form-control select select-info select-sm mrs mbm">
                                <option value="0">1070</option>
                                <option value="1">大学同学</option>
                                <option value="2">高中同学</option>
                                <option value="3">6P</option>
                            </select>
                            <br>
                            <form class="form-inline" role="form">
                                <div class="form-group">
                                    <input class="form-control input-sm" type="text" placeholder="新分组">
                                </div>
                                <button type="submit" class="btn btn-info btn-sm">添加</button>
                            </form>

                        </div>
                    </div>
                    <br>
                </div>

                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-5">
                            <button type="submit" class="btn btn-success btn-wide">发送消息</button>
                        </div>
                        <div class="col-md-5">
                            <button type="submit" class="btn btn-danger btn-wide">删除好友</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

</div>
