<% include chatit_header.ejs %>
    <div class="container">
        <div class="row" style="margin-top:15px;">
            <!-- 个人信息 -->
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-user"></span> &nbsp;个人信息
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-9">
                            <h5 id="my-nickname">昵称：还未设置</h5></div>
                        <div class="col-sm-3">
                            <button class="btn btn-default" onclick="onClickChangeNickname()">修改</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /container -->
